/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/
#resume {
  text-align: left;
  width: 100%;
}

.ind1 { padding-left: 30px; }
.ind2 { padding-left: 50px; }
.ind3 { padding-left: 70px; }
.ind4 { padding-left: 90px; }

/*****************************************************************************/
/*
/* General
/*
/*****************************************************************************/
.biggest {
  font-size: 70px;
}
.big {
  font-size: 20px;
}
.fancy {
  font-family: 'Playball', cursive;
}
.ledger {
  font-family: 'Ledger', serif;
}
#name {
  color: black;
}
