<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Ledger|Playball' rel='stylesheet' type='text/css'>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="container">
      <div id="center">
        <div id="content">
          <h1>eddie saenz</h1>
          <div id="toplinks">
            <table>
              <tbody>
                <tr>
                  <td>
                    resume
                  </td>
                  <td>
                    about
                  </td>
                  <td>
                    <a href="https://github.com/eddies5">github</a>
                  </td>
                  <td>
                    <a href="http://www.facebook.com/eddie.saenz">facebook</a>
                  </td>
                  <td>
                    <a href="http://twitter.com/eddies5">twitter</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>