<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/pygments.css">
  <link href='http://fonts.googleapis.com/css?family=Ledger|Playball' rel='stylesheet' type='text/css'>
  <title>{{ page.title }}</title>
</head>
<body>
  <div class="container">
    <header>
      <h1><a id="name" class="biggest fancy" href="/" style="text-decoration:none">eddie saenz</a></h1>
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="/about/">about</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/resume/">resume</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/blog/">blog</a></li>
            <li class="divider-vertical"></li>
            <li><a href="https://github.com/eddies5">github</a></li>
            <li class="divider-vertical"></li>
            <li><a href="http://www.facebook.com/eddie.saenz">facebook</a></li>
            <li class="divider-vertical"></li>
            <li><a href="http://twitter.com/eddies5">twitter</a></li>
          </ul>
        </div>
      </div>
    </header>
