<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Ledger|Playball' rel='stylesheet' type='text/css'>
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="container">
    <div id="center">
      <div id="header">
        <header>
          <nav>
            <h1 class="biggest fancy"><a href="/">eddie saenz</a></h1>
            <div>
              <table>
                <tbody>
                  <tr class="big">
                    <td>
                      <a class="ledger" href="/about/">about</a>
                    </td>
                    <td>
                      <a class="ledger" href="/resume/">resume</a>
                    </td>
                    <td>
                      <a class="ledger" href="/blog/">blog</a>
                    </td>
                    <td>
                      <a class="ledger" href="https://github.com/eddies5">github</a>
                    </td>
                    <td>
                      <a class="ledger" href="http://www.facebook.com/eddie.saenz">facebook</a>
                    </td>
                    <td>
                      <a class="ledger" href="http://twitter.com/eddies5">twitter</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </nav>
        </header>
      </div>
